body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 60px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}
/*?-------------------header-------------------*/
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.address-list-nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-nav:hover {
  color: #404bbf;
}

.address-list-nav:focus {
  color: #404bbf;
}
/*?-----------------------------------------*/
/*?-------------------Hero-------------------*/
.first-page {
  background-color: #2e2f42;
}

.hero-container {
  padding: 188px 316px 292px;
}

.first-page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.button-title {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-title:hover {
  background-color: #404bbf;
}

.button-title:focus {
  background-color: #404bbf;
}
/*?-----------------------------------------*/
/*?-------------------Feature-------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.page-feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*?-----------------------------------------*/
/*?-------------------Our Team-------------------*/
.page-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
}

.page-team-list {
  background-color: #ffffff;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
}

.header-three-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
  padding-bottom: 32px;
}
/*?-----------------------------------------*/
/*?-------------------Portfolio-------------------*/
.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
/*?-----------------------------------------*/
/*?-------------------footer-------------------*/
.footer {
  background-color: #2e2f42;
  padding: 101.5px 1020px 100px 156px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.page-footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-top: 17.5px;
}
/*?-----------------------------------------*/
